.wrapper {
  background-color: white;
  padding: 28px 24px;
  border-radius: 20px;
}

.sportAnddateContainer {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 12px;
}

.text,
.textB {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.5px;
  text-align: left;

  color: var(--light-text);

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text {
  margin: 20px 0;
}

.textB {
  font-weight: 500;
  color: #353754;
  width: max-content;
  display: inline;
  cursor: pointer;
}

.imagesWrap {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 12px 10px;
  position: relative;
}

.imagesWrap > img {
  width: 100%;
  height: auto;
  border-radius: 14px;
}

.imagesWrap > .morePhotos {
  position: absolute;
  width: calc((100% - 20px) / 3);
  height: calc((100% - 24px) / 3);
  background-color: rgb(0 0 0 / 60%);
  bottom: 0;
  right: 0;
  border-radius: 14px;

  font-weight: bold;
  font-size: 30px;
  line-height: 32px;
  color: white;
  letter-spacing: -1%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seenAndCommBlock {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.seenAndCommBlock div {
  display: flex;
  align-items: center;
  gap: 6px;
}

.seenAndCommBlock svg {
  width: 20px;
  height: 20px;
}

.commBlock {
  margin-top: 16px;
}

.commBlock > div {
  display: flex;
  gap: 0 12px;
}

.commBlock p {
  margin-bottom: 4px;
}

.commBlock hr {
  margin: 16px 0;
}

.replyBlock {
  display: flex;
  gap: 0 6px;
  margin-top: 4px;
}

.replyBlock > p {
  width: max-content;
}

.replyBlock button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.replyBlock button:active > p {
  color: var(--light-text);
}

.nameWithIcon {
  display: flex;
  align-items: center;
  gap: 3px;
}

.reply {
  padding-left: 32px;
  margin-top: 16px;
}

.seeAllComms {
  margin-top: 24px;
  background-color: var(--base-gray);
  color: var(--black);
  padding: 10px 24px;
  border-radius: 10px;
  border: none;
  width: max-content;
  cursor: pointer;
}

.winnersBlock {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  align-items: baseline;
  gap: 12px 10px;
  max-width: 588px;
  margin: 24px auto;
  word-spacing: 9999px;
}

.winnersBlock img {
  width: 80px;
  height: 80px;
  margin-bottom: 16px;
}

.secondPlace,
.firstPlace,
.thirdPlace {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.medal {
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 60px;
  left: 50%;
  transform: translateX(-50%);
  top: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  line-height: 26px;
}

.secondPlace .medal {
  background: rgb(135, 135, 136);
  background: linear-gradient(
    141deg,
    rgba(135, 135, 136, 1) 0%,
    rgba(191, 192, 197, 1) 64%,
    rgba(147, 148, 153, 1) 100%
  );
}

.firstPlace .medal {
  background: rgb(190, 130, 59);
  background: linear-gradient(
    141deg,
    rgba(190, 130, 59, 1) 0%,
    rgba(208, 164, 97, 1) 64%,
    rgba(254, 213, 165, 1) 100%
  );
}

.thirdPlace .medal {
  background: rgb(116, 57, 29);
  background: linear-gradient(
    141deg,
    rgba(116, 57, 29, 1) 0%,
    rgba(196, 98, 54, 1) 64%,
    rgba(255, 155, 103, 1) 100%
  );
}

.firstPlace img {
  width: 100px;
  height: 100px;
}

.firstPlace .halfCrownLeft,
.firstPlace .halfCrownRight {
  position: absolute;
  top: 20px;
  width: 68px;
  height: auto;
}

.firstPlace .halfCrownLeft {
  left: 6px;
}

.firstPlace .halfCrownRight {
  transform: scaleX(-1);
  right: 6px;
}

.bestMomentsBlock {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 10px;
}

.bestMomentsBlock > div {
  background-size: auto 100%;
  height: 230px;
  border-radius: 14px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.bestMomentsBlock .seen {
  display: flex;
  gap: 4px;
  background-color: rgb(255 255 255 / 15%);
  width: max-content;
  border-radius: 100px;
  padding: 7px 10px;
}

.seeAllVideos {
  background-color: var(--base-gray);
  color: var(--black);
  padding: 10px 24px;
  border-radius: 10px;
  border: none;
  width: max-content;
  margin-top: 24px;
  cursor: pointer;
}

.ad {
  border-radius: 20px;
  letter-spacing: -1%;
  color: white;
  height: 286px;
  background-size: auto 100%;
  padding: 20px 20px 0 0;
  position: relative;
  overflow: hidden;
}

.ad > div {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.ad .adtext {
  font-weight: 500;
  font-size: 30px;
  line-height: 32px;
  width: 55%;
  margin: 0;
  font-style: italic;
  margin-bottom: 24px;
  text-align: end;
}

.ad .sale {
  font-weight: 600;
  font-size: 96px;
  margin: 0;
  text-align: end;
}

.ad img {
  position: absolute;
  bottom: 0;
  width: 76%;
  /* height: 52px; */
}

.medalWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-gray);
  border-radius: 12px;
  padding: 12px 10px;
  margin-top: 16px;
  gap: 16px;
}

.congratters {
  display: flex;
  gap: 6px;
  margin-top: 24px;
}

.congratters img {
  width: 20px;
  height: 20px;
  border-radius: 48px;
}

.congrat {
  background-color: var(--black);
  margin-top: 20px;
  cursor: pointer;
  padding: 10px 24px;
  border-radius: 10px;
  border: none;
}

.videoWrap {
  margin-top: 24px;
  position: relative;
}

.videoWrap img,
.overlay {
  border-radius: 14px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 99%;
  background-color: rgb(0 0 0 / 30%);
  z-index: 2;
  top: 0;
}

.playIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  transform: translateX(-50%) translateY(-50%);
  background-color: rgb(255 255 255 / 20%);
  width: 60px;
  height: 60px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
